<!doctype html>
<html>
<head>
	<title>Biscuit Parade</title>
</head>
<body>
    <center> 
        <h2>Oh no, u didn't get the right cookie!</h2>

        <h2>You hide in a bush, but Michael is still chasing you!</h2>

        <img src="{{url_for('static', filename='mj_1.gif')}}" align="middle" width="200" style="margin-right: 100px;margin-bottom: 100px;" />

        <img src="{{url_for('static', filename='rengoku-flag.gif')}}" align="middle" width="400"  />

        <img src="{{url_for('static', filename='mj_popcorn.gif')}}" align="middle" width="200" style="margin-left: 100px;margin-bottom: 100px;" />
        

        <div>
            <img src="{{url_for('static', filename='mj.gif')}}" align="middle"  width="200" style="margin-right: 100px;margin-bottom: 100px;" />
            <img src="{{url_for('static', filename='michael-jackson-smooth-criminal.gif')}}" align="middle" width="300" style="margin-top: 100px; margin-bottom: 50px;" />
            <img src="{{url_for('static', filename='moonwalk.gif')}}" align="middle" width="200" style="margin-left: 100px;margin-bottom: 100px;" />
        </div>
        
        <p>It's your lucky day, you find a piece of paper in the bush... Maybe is the flag:</p>
        <a href="https://tenor.com/view/rengoku-kny-demon-slayer-demon-slayer-rengoku-kimetsu-no-yaiba-gif-23809724">Read the paper</a>

    </center>
</body>
