<!doctype html>
<html>
<head>
	<title>Biscuit Parade</title>
</head>
<body>
    <center> 
        <h2>Dear demon slayer, you are running away </br> from the frightnening Michael Jackson!</h2>
        
        <p>
            You want to <strong>access</strong> the Royal Palace     so that you can hide from Michael Jackson. </br>
            There is the grandma Elizabeth that let you enter only with the correct password </br>
            but you can corrupt her with a <strong>Biscuit</strong>!
        </p>
        <h2>
            Can you get it?
        </h2>
        <form action="/" method="POST">  
            <div class="container">   
                <label>Username : </label>    </br>
                <input type="text" placeholder="Enter Name" name="name" required>  </br></br>
                <label>Password : </label>    </br>
                <input type="password" placeholder="Enter Password" name="passwd" required>   </br></br>
                <button type="submit">Get Biscuit</button>    </br></br>   
            </div>   
        </form>   


        <img src="{{url_for('static', filename='running-inosuke.gif')}}" align="middle" width="200"  />
        <img src="{{url_for('static', filename='running-tanjiro.gif')}}" align="middle"  width="200" />
        <img src="{{url_for('static', filename='running-nezuko.gif')}}" align="middle" width="200" />
        <img src="{{url_for('static', filename='running-zenitsu.gif')}}" align="middle" width="200"  />
        <img src="{{url_for('static', filename='moonwalk.gif')}}" align="middle" width="400"  />
    </center>
</body>

